In [10]:
import pandas as pd

In [18]:
data_org = pd.read_csv('../Original-data/weather.txt')

In [22]:
data_org

  MX000017004195504TMAX  310  I  310  I  310  I  320  I  330  I  320  I  320  I  330  I  330  I  330  I  330  I  320  I  310  I  310  I  320  I  320  I  320  I  310  I  310  I  320  I  320  I  330  I  330  I  330  I  330  I  330  I  330  I  340  I  330  I  320  I-9999
0  MX000017004195504TMIN  150  I  150  I  160  I ...
1  MX000017004195504PRCP    0  I    0  I    0  I ...
2  MX000017004195505TMAX  310  I  310  I  310  I ...
3  MX000017004195505TMIN  200  I  160  I  160  I ...
4  MX000017004195505PRCP    0  I    0  I    0  I ...

In [41]:
with open('../Original-data/weather.txt') as f:
    lines = f.readlines()
for line in lines:
    # usun spacje zrob tablice samych elementow
    line_without_space = line.split()
    for elem in line_without_space:
        # usun elementy "I"
        if elem == "I":
            line_without_space.remove("I")
    # jesli za duzo badz za malo danych - dane uszkodzone
    if len(line_without_space) != 32:
        lines.remove(line_without_space)
    # podzial pierwszego elementu na id, rok, miesiÄ…c, nazwa zmiennych
    line_without_space[0] = line_without_space[0].split("MX000017004")
    print(line_without_space)
    break

[['', '195504TMAX'], '310', '310', '310', '320', '330', '320', '320', '330', '330', '330', '330', '320', '310', '310', '320', '320', '320', '310', '310', '320', '320', '330', '330', '330', '330', '330', '330', '340', '330', '320', 'I-9999']